@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e6e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  background: #fff;
  margin: 50px;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
  border-left: 40px solid #fff;
  border-right: 40px solid #fff;
}

.container .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  padding-bottom: 0;
}

.container .top .image {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.container .top .image .image-box {
  position: relative;
  width: 70%;
  min-width: 200px;
  overflow: hidden;
  border-radius: 50%;
  aspect-ratio: 1;
}

.container .top .image .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .top .profile-info {
  position: relative;
  padding: 40px;
  display: flex;
}
.container .top .profile-info h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 600;
  color: #333;
}
.container .top .profile-info h1 span {
  position: relative;
  font-size: 0.5em;
  font-weight: 300;
  top: -10px;
}

.container .content-box {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 40px 40px;
}

.container .content-box h3 {
  border-left: 4px solid #ff8bb3;
  padding-left: 10px;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 50px;
}
.container .content-box ul {
  position: relative;
  margin: 10px 0;
}
.container .content-box ul li {
  list-style: none;
  margin: 25px 0;
  line-height: 1em;
  color: #333;
  cursor: pointer;
  display: flex;
}
.container .content-box ul li i {
  font-size: 1.2em;
  margin-right: 10px;
  color: #3590d2;
}

.container .content-box ul.education li {
  flex-direction: column;
  margin: 25px 0;
}
h5 {
  color: #3590d2;
}
h4 {
  color: #333;
  font-weight: 600;
  margin: 5px 0;
}
h6 {
  font-weight: #666;
  font-weight: 300;
  font-size: 0.9em;
}
.language li {
  flex-direction: column;
}
.language li span {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.language .percent {
  position: relative;
  width: 100%;
  background: #e3e3e3;
  height: 4px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}
.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}

.container .content-box ul.interest {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
.container .content-box ul.interests li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.container .content-box ul.interests li .icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: #3590d2;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content-box ul.interests li .icon i {
  color: #fff;
  margin-right: 0;
}
pre {
  background: #e4dfdf;
  padding: 15px;
}
code {
  line-height: 1.5em;
}
p {
  font-style: 300;
}
.right-side {
  margin-top: -8px;
  padding-left: 40px;
}
.experiance h5 {
  margin-bottom: 5px;
}

.about .image-box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.about .image-box .experiance {
  min-width: 150px;
  margin-bottom: 10px;
}
.about .image-box .experiance h5 {
  color: #333;
  font-weight: 600;
}
.about .image-box .experiance h5:nth-child(1) {
  color: #3590d2;
}
.about .image-box .text h4 {
  color: #3590d2;
  font-size: 16px;
  margin: 0;
}

.about.skills .image-box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  justify-content: center;
  align-items: center;
}
.about.skills .image-box h4 {
  color: #333;
  font-weight: 500;
  margin-bottom: 5px;
  margin-right: 16px;
}
.about.skills .image-box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #e3e3e3;
}
.about.skills .image-box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}
.about.skills h2 {
  margin-bottom: 9px;
}
a {
  text-decoration: none;
  color: #17a2b8;
  font-size: 17px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ecebeb;
  width: 100%;
}
